body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}
h1 {
    color: cornflowerblue;
    text-align: center;
}
#intro {
    text-align: center;
    padding: 50px;
}#small-heading {
    color: aquamarine;
}

#link {
    color: cadetblue;
}

.items {
    list-style: circle;
}